$xs-min: 477px;
$sm-min: 768px;
$md-min: 992px;
$lg-min: 1728px;

$xs-max: ( $xs-min - 1 ); // Mobile
$sm-max: ( $sm-min - 1 ); // Tablet
$md-max: ( $md-min - 1 ); // Desktop
$lg-max: ( $lg-min - 1 ); // Large Desktop

@mixin md {
	@media screen and (max-width: 991px) {
		@content;
	}
}

@mixin sm {
	@media screen and (max-width: 767px) {
		@content;
	}
}

@mixin text($fontSize) {
	font-size: var(--fs-#{$fontSize});
	line-height: var(--lh-#{$fontSize});
}

@mixin size($w, $h: $w) {
	width: $w;
	height: $h;
}

@mixin keyframes($animation-name) {
	@-webkit-keyframes #{$animation-name} {
		@content;
	}

	@-moz-keyframes #{$animation-name} {
		@content;
	}

	@-ms-keyframes #{$animation-name} {
		@content;
	}

	@-o-keyframes #{$animation-name} {
		@content;
	}

	@keyframes #{$animation-name} {
		@content;
	}
}
// @mixin custom-scroll($width: 0.7rem, $bgTrack: #ddd, $bgThumb: #1D1D1D) {
// 	&::-webkit-scrollbar {
// 		width: $width;
// 	}

// 	&::-webkit-scrollbar-track {
// 		background: $bgTrack;
// 	}

// 	&::-webkit-scrollbar-thumb {
// 		background: $bgThumb;
// 	}
// }